In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_json("C:/Users/mynam/DataScience MLDL/Projects/Web Scraping using scrapy/bookscraper/cleandata.json")

In [4]:
df.head()

,url,title,upc,product_type,price_excl_tax,price_incl_tax,tax,availability,num_reviews,stars,category,description,price
0,http://books.toscrape.com/catalogue/scott-pilg...,Scott Pilgrim's Precious Little Life (Scott Pi...,3b1c02bac2a429e6,books,52.29,52.29,0,19,0,5,sequential art,Scott Pilgrim's life is totally sweet. He's 23...,52.29
1,http://books.toscrape.com/catalogue/our-band-c...,Our Band Could Be Your Life: Scenes from the A...,deda3e61b9514b83,books,57.25,57.25,0,19,0,3,music,This is the never-before-told story of the mus...,57.25
2,http://books.toscrape.com/catalogue/libertaria...,Libertarianism for Beginners,a18a4f574854aced,books,51.33,51.33,0,19,0,2,politics,Libertarianism isn't about winning elections; ...,51.33
3,http://books.toscrape.com/catalogue/mesaerion-...,Mesaerion: The Best Science Fiction Stories 18...,e30f54cea9b38190,books,37.59,37.59,0,19,0,1,science fiction,"Andrew Barger, award-winning author and engine...",37.59
4,http://books.toscrape.com/catalogue/rip-it-up-...,Rip it Up and Start Again,a34ba96d4081e6a4,books,35.02,35.02,0,19,0,5,music,"Punk's raw power rejuvenated rock, but by the ...",35.02

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             1000 non-null   object
 1   title           1000 non-null   object
 2   upc             1000 non-null   object
 3   product_type    1000 non-null   object
 4   price_excl_tax  1000 non-null   float64
 5   price_incl_tax  1000 non-null   float64
 6   tax             1000 non-null   int64
 7   availability    1000 non-null   int64
 8   num_reviews     1000 non-null   int64
 9   stars           1000 non-null   int64
 10  category        1000 non-null   object
 11  description     998 non-null    object
 12  price           1000 non-null   float64
dtypes: float64(3), int64(4), object(6)
memory usage: 101.7+ KB